﻿@using HotelH2.Controllers;
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
@{
    ViewData["Title"] = "Home Page";
}
@model List<Rooms>

<div class="text-center">
    <h1 class="display-4">Welcome to HotelH2</h1>

    <table id="historyTable" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Price</th>
                <th>occipied</th>
                <th>Max people</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>Temp</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.ID</td>
                    <td>@room.Type</td>
                    <td>@room.Price</td>
                    <td>@room.occipied</td>
                    <td>@room.maxPersoncount</td>
                    <td>@room.startdate</td>
                    <td>@room.slutdate</td>
                    <td>@room.temp</td>
                    <td><button>Edit</button> <button> Delete</button> </td>
                </tr>
            }
        </tbody>
    </table>
</div>



