﻿@using HotelH2.Controllers;

@{
    ViewData["Title"] = "Home Page";
}
@model List<Rooms>

<div class="text-center">
    <h1 class="display-4">Welcome to Hotel H2</h1>

    <table id="historyTable" class="table">
        <thead>
            <tr>
                <th>Room number</th>
                <th>Type</th>
                <th>Price</th>
                <th>occipied</th>
                <th>Max people</th>
               @* <th>DateStart</th>
                <th>DateEnd</th>*@
              @*  <th>Temp</th>*@
                <th>Edit</th>
            </tr>
        </thead>
        <p>
            <a id="btnclick" href="https://localhost:7213/Home/Create" class="btn btn-primary">Create room</a>
        </p>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.ID</td>
                    <td>@room.Type</td>
                    <td>@room.price</td>
                    <td>@room.occipied</td>
                    <td>@room.maxPersoncount</td>
                 @*   <td>@room.startdate</td>
                    <td>@room.slutdate</td>*@
                 @*   <td>@room.temp</td>*@
                    <td><a class="btn btn-primary" href="@Url.Action("Update", new { id = room.ID })">Edit</a></td>
                    <td>
                        <a class="btn btn-danger delete-btn" style="background-color:red" data-id="@room.ID">Delete</a>
                    </td>
               </tr>
            }
        </tbody>

    </table>

    @section scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const deleteButtons = document.querySelectorAll(".delete-btn");

                deleteButtons.forEach(button => {
                    button.addEventListener("click", function (event) {
                        event.preventDefault();

                        const roomId = button.getAttribute("data-id");
                        const confirmMessage = "Are you sure you want to delete this room?";
                        if (confirm(confirmMessage)) {
                            const form = document.createElement("form");
                            form.method = "POST";
                            form.action = "@Url.Action("Delete")";
                            form.style.display = "none";

                            const input = document.createElement("input");
                            input.type = "hidden";
                            input.name = "id";
                            input.value = roomId;

                            form.appendChild(input);
                            document.body.appendChild(form);

                            form.submit();
                        }
                    });
                });
            });
        </script>
    }
</div>




