@model hotelRooms.Models.Rooms

@{
    ViewData["Title"] = "Update";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
  
</head>
<body>

    <h1>Update</h1>

    <h4>Rooms</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="@Url.Action("Update")" method="post">
                <div class="text-danger">
                   
                </div>
                <div class="form-group">
                    <label for="ID">ID</label>
                    <input type="text" id="ID" name="ID" class="form-control" value="@Model.ID" />
                   
                </div>
                <div class="form-group">
                    <label for="Type">Type</label>
                    <input type="text" id="Type" name="Type" class="form-control" value="@Model.Type" />
                   
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="text" id="Price" name="Price" class="form-control" value="@Model.Price" />
              
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" id="occipied" name="occipied" class="form-check-input" @(Model.occipied ? "checked" : "") />
                        Occipied
                    </label>
                </div>

                <div class="form-group">
                    <label for="temp">Temp</label>
                    <input type="text" id="temp" name="temp" class="form-control" value="@Model.temp" />
                  
                </div>
                <div class="form-group">
                    <label for="startdate">start date</label>
                    <input type="date" id="startdate" name="Start date" class="form-control" value="@Model.startdate" />

                </div>
                <div class="form-group">
                    <label for="slutdate">slu</label>
                    <input type="date" id="enddate" name="End date" class="form-control" value="@Model.slutdate" />

                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index")">Back to Booking</a>
    </div>

 

</body>
</html>